/*--- Generate font family start ---*/
@font-face {
  font-family: 'Poppins-Bold';
  src: url('../font/Poppins-Bold.woff') format('woff'),
  url('../font/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../font/Poppins-Medium.woff') format('woff'),
  url('../font/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../font/Poppins-Light.woff') format('woff'),
  url('../font/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../font/Poppins-Regular.woff') format('woff'),
  url('../font/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../font/Poppins-SemiBold.woff') format('woff'),
  url('../font/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


/*--- Generate font family end ---*/



:root {
  /* Font families */
  --font-family-poppins-light: 'Poppins-Light', sans-serif;
  --font-family-poppins-regular: 'Poppins-Regular', sans-serif;
  --font-family-poppins-medium: 'Poppins-Medium', sans-serif;
  --font-family-poppins-semibold: 'Poppins-SemiBold', sans-serif;
  --font-family-poppins-bold: 'Poppins-Bold', sans-serif;

  /* Colors */
  --color-white: #EEEEEE;
  --color-black: #0F0F0F;
  --font-white: #fff;
  --color-primary: #0A369D;
  //--color-primary: #001957;
  --color-third: #c7e02d;
  /* Optionally rename color-primary to match existing usage */
  --font-primary: var(--color-primary);
}
.poppins-regular {
  font-family: var(--font-family-poppins-regular);
  font-weight: 300; /* or 400 */
}

.poppins-light {
  font-family: var(--font-family-poppins-light);
  font-weight: 200;
}

.poppins-bold {
  font-family: var(--font-family-poppins-bold);
  font-weight: bold;
}

.poppins-semibold {
  font-family: var(--font-family-poppins-semibold);
  font-weight: 600;
}

.poppins-medium {
  font-family: var(--font-family-poppins-medium);
  font-weight: 500;
}
.container{
  max-width: 1400px;
}
/* Example usage */
.font-80{
  font-size: 80px;
  line-height: 110px;
  @media only screen and (max-width: 1600px) {
    font-size: 70px;
    line-height: 88px;
  }
  @media only screen and (max-width: 1499px) {
    font-size: 60px;
    line-height: 77px;
  }
  @media only screen and (max-width: 1199px) {
    font-size: 50px;
    line-height: 66px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 46px;
  }
}
.font-60{
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -0.1rem;
  @media only screen and (max-width: 1600px) {

  }
  @media only screen and (max-width: 1499px) {

  }
  @media only screen and (max-width: 1199px) {

  }
  @media only screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 46px;
  }
  .gradient-text{
    letter-spacing: -0.1rem;
  }
}
.font-18{
  font-size: 18px;
  line-height: 32px;
}
.font-20{
  font-size: 20px;
  line-height: 36px;
}
.font-15{
  font-size: 15px;
  line-height: 15px;
}
.font-20{
  font-size: 20px;
  line-height: 2rem;
}
.font-26{
  font-size: 26px;
  line-height: 40px;
  @media only screen and (max-width: 1600px) {
    font-size: 24px;
    line-height: 36px;
  }
  @media only screen and (max-width: 1199px) {
    font-size: 20px;
    line-height: 32px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 30px;
  }
}
.font-50{
  font-size: 50px;
  line-height: 66px;
  @media only screen and (max-width: 1600px) {
    font-size: 48px;
    line-height: 60px;
  }
  @media only screen and (max-width: 1199px) {
    font-size: 42px;
    line-height: 54px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 36px;
  }
}
.font-white{
  color: var(--color-white);
}
.font-black{
  color: var(--color-black);
}
.font-primary{
  color: var(--font-primary);
}
.sub-heading{
  font-family: var(--font-family-poppins-regular);
}

body, html{
  margin: 0;
  padding: 0;
  background-color: #0F0F0F;
  font-family: var(--font-family-poppins-regular);
}
h1,h2,h3,h4,h5,h6,ul,li,p,a{margin: 0; padding: 0;}
.ptb-100{
  padding-top: 90px;
  padding-bottom: 90px;
  @media only screen and (max-width: 1024px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media only screen and (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.bg-black-light{
  background-color: #fff;
}

/*--- NAVBAR CSS START ---*/

.navbar {
  background-color: var(--color-white);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  .navbar-toggler-icon{
    width: 44px;
    height: 44px;
  }
  .navbar-toggler:focus{
    box-shadow: none;
  }
  .navbar-nav-scroll {
    @media only screen and (max-width: 767px) {
      //max-height: var(--bs-scroll-height, 100vh);
      max-height: initial;
    }

  }
  .navbar-brand{
    img{
      width: 60px;
    }
  }
  .navbar-collapse{
    //flex-grow: initial;
  }
  .navbar-nav {
    padding: 14px 20px;
    //-webkit-backdrop-filter: blur(8px);
    //backdrop-filter: blur(8px);
    @media only screen and (max-width: 767px) {
      padding: 0 10px;
    }
    .nav-item {
      margin: 0 1.5rem;
      @media only screen and (max-width: 767px) {
        border-bottom: 1px solid rgba(115,115,115, 0.1);
        &:last-child{
          border-bottom: none;
        }
      }
      @media only screen and (max-width: 767px) {
        margin: 0;
        padding: 1rem 0;
      }
      .nav-link {
        position: relative;
        padding: 0;
        overflow: hidden;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05rem;
        color: var(--color-black);
        text-decoration: none;
        font-family: var(--font-family-poppins-regular);
        transition: ease-in-out 0.3s;
        font-weight: 300;
        text-transform: uppercase;
      }
    }
  }
}


.contact-uss{
  @media only screen and (max-width: 767px ) {
    position: absolute;
    top: 20px;
    right: 70px;
  }
  .contact-us-header{
    .nav-link{
      padding: 16px 30px;
      background-color: #FFF;
      position: relative;
      z-index: 1;
      border-radius: 99em;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.03rem;
      color: var(--color-black);
      font-weight: 500;
      text-decoration: none;
      display: inline-block;
      font-family: var(--font-family-poppins-regular);
      transition: ease-in-out 0.3s;
      &:hover{
        color: var(--color-white);
        background-color: #2d6ee0;
      }
    }
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  .quick-call{
    width: 40px;
    height: 40px;
      img{
        width: 34px;
        height: 34px;
        margin-top: 2px;
      }
  }
}
.nav-item.active {
  color: #D1FD67; /* Active link color */
  font-weight: bold; /* Optional: make the active link bold */
  .nav-front, .nav-back{
    color: var(--font-primary);
  }
}
.black-btn {
  padding: 14px 24px;
  border-radius: 0;
  //border: 1px solid var(--font-white);
  border: 1px solid var(--theme-color);
  text-decoration: none;
  color: var(--color-black);
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
  display: inline-flex;
  align-items: center;
  background-color: var(--theme-color);
  font-weight: 100;
  text-transform: uppercase;

  &:hover {
    border: 1px solid var(--theme-color);
    background-color: var(--font-white);
    //color: var(--theme-color);
    color: var(--color-black);

    svg {
      line,path,
      polyline {
        //stroke: var(--theme-color);
        stroke: var(--color-black)
      }
    }
  }

  span {
    margin-left: 6px;

    svg {
      width: 28px;
      margin-top: -2px;
      transition: stroke 0.5s ease;
    }
  }
}
.white-btn{
  padding: 18px 25px 16px;
  border-radius: 5px;
  border: 1px solid var(--color-black);
  text-decoration: none;
  color: var(--color-black);
  transition: background-color 0.5s ease, color 0.5s ease;
  display: inline-flex;
  align-items: center;
  &:hover{
    background-color: var(--color-black);
    color: var(--color-white);
    svg line, svg polyline{
      stroke: var(--color-white);
    }
  }
  span{
    margin-left: 6px;
    svg{
      width: 28px;
      margin-top: -2px;
      transition: stroke 0.5s ease;
    }
  }
}
.my-btn{
  padding: 15px 36px;
  background-color: var(--color-primary);
  border-radius: 99em;
  position: relative;
  z-index: 1;
  font-size: 16px;
  line-height: 26px;
  color: var(--font-white);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  &:hover{
    color: var(--font-white);
  }
}
.my-btn-black{
  padding: 16px 30px;
  background-color: #FFF;
  position: relative;
  z-index: 1;
  border-radius: 99em;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03rem;
  color: var(--color-black);
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  font-family: var(--font-family-poppins-regular);
  transition: ease-in-out 0.3s;
  &:hover{
    color: var(--color-white);
    background-color: #2d6ee0;
  }
}
.start-project{
  padding: 14px 30px;
  background-color: var(--color-primary);
  border-radius: 0;
  border: 1px solid rgba(255,255,255,0.05);
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.05rem;
  color: var(--font-white);
  text-decoration: none;
  font-family: var(--font-family-poppins-light);
  transition: ease-in-out 0.3s;
  font-weight: 300;
  text-transform: uppercase;
  &:hover{
    color: var(--color-black);
    background-color: var(--color-white);
    border: 1px solid rgba(255,255,255,0.05)
  }
}
/*--- NAVBAR CSS END ---*/
.para-text{
  max-width: 900px;
  margin: 25px auto;
}

.section-hero{
  height: 100vh;
  display: flex;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  padding-top: 80px;
  background-color: var(--color-primary);
  .section-hero-inner{
  .hero-description{
    max-width: 800px;
    margin: 35px auto;
  }
  }
}
.gradient-text {
  //background: linear-gradient(to left, #D1FD67, #E5E5E5);
  //-webkit-background-clip: text;
  //background-clip: text;
  //color: transparent;
  //animation: animateGradient 10s linear infinite;


  background-image: -webkit-linear-gradient(-45deg, #E5E5E5, #D1FD67);
  -webkit-background-clip: text;
  font-weight: 600;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;

}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.section-works{
  background-color: #FFF;
  .section-works-inner{

  }
  .our-works-main{
    .nav-tabs{
      justify-content: center;
      margin: 25px 0 50px 0;
      padding: 0;
      border: none;
      .nav-item{
        .nav-link{
          padding: 15px 32px;
          background-color: #EAEAEA;
          border-radius: 0;
          border: 1px solid rgba(255, 255, 255, 0.5);
          position: relative;
          z-index: 1;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0.05rem;
          color: var(--color-black);
          text-decoration: none;
          display: inline-block;
          font-family: var(--font-family-poppins-light);
          transition: ease-in-out 0.3s;
          font-weight: 300;
          margin: 0 10px;
          &.active{
            background-color: var(--color-primary);
            color: var(--color-white);
          }
        }

      }
    }
  }
}
.section-work{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
  @media only screen and (max-width: 767px) {

    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio-main{
    background-color: rgba(217,217,217,0.20);
    border-radius: 0;
    border: 1px solid rgba(224,224,224,0.50);
    text-decoration: none;
    &:hover{
      .pf-img{
        img{
          transform: scale(1.05);
        }
      }
    }
    .pf-img{
      border-radius: 0;
      overflow: hidden;
      img{
        border-radius: 0;
        transition: transform 0.6s ease;
      }
    }
    .pf-details{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 15px;
      .details{

      }
      .live-link{
        min-width: 100px;
        background: rgba(137, 137, 137, 0.18);
        text-align: center;
        padding: 13px 15px;
        border-radius: 0;
        box-shadow: 1px 8px 11px 3px rgba(0, 0, 0, 0);
        transition: .3s ease all;
        &:hover{
          background-color: var(--color-primary);
          color: var(--color-white);
        }
      }
    }
  }
}

.item {
  height: 10rem;
  padding: 1rem;
  opacity: 0.8;
  transition: .3s ease all;
  margin: 0 20px;
}
.owl .item {
  background: #4DC7A0;
}



.section-services{
  background-color: #0F0F0F;
}





/*-----*/
.section-services{
  background-color: #0F0F0F;
  .section-services-details{
    margin-top: 50px;
    @media only screen and (max-width: 767px) {
      margin-top: 0;
    }
    .accordion-item{
      background-color: transparent;
      border-bottom: 1px solid rgba(255,255,255,0.10);
      position: relative;
      box-shadow: none;
      .accordion-collapse{
        @media only screen and (min-width: 1200px){
          position: absolute;
          top: 50%;
          right: 100px;
          width: 400px;
          transform: translateY(-50%) scale(0);
          display: table;
          transition: transform 0.6s ease;
          z-index: 10;
        }
        .accordion-body{
          @media only screen and (min-width: 1200px){
            width: 100%;
            padding: 0;
          }
          @media only screen and (max-width: 1199px){
            background-color: var(--color-white);
            border-radius: 0;
          }
          @media only screen and (max-width: 991px){
            border-radius: 0;
          }
          @media only screen and (max-width: 767px){
            background-color: #fff;
            border-radius: 0;
          }
          .img-wrap{
            @media only screen and (max-width: 1199px){
              display: none !important;
            }
            img{
              @media only screen and (min-width: 1200px){
                width: 100%;
              }
            }
          }
        }
      }

      .accordion-button{
        box-shadow: none;
        outline: none;
        border-radius: 0;
        background-color: var(--color-black);
        gap: 50px;
        padding: 50px 0;
        @media only screena and (min-width: 1200px){
          pointer-events: none;
        }
        @media only screen and (max-width: 1199px){
          gap: 20px;
          padding: 35px 0;
        }
        @media only screen and (max-width: 991px){
          border-radius: 0;
          padding: 30px 0;
        }
        @media only screen and (max-width: 767px){
          border-radius: 0;
          gap: 20px;
          padding: 20px 0;
        }
        @media only screen and (max-width: 575px){
          gap: 5px;
        }
        .numb{
          min-width: 80px;
          @media only screen and (max-width: 1199px){
            min-width: 60px;
          }
          @media only screen and (max-width: 991px){
            min-width: 40px;
          }
          @media only screen and (max-width: 575px){
            min-width: 30px;
          }
        }
        &:after{
          background: url("../img/caret-down.svg") no-repeat center center;
          //filter:blur(0) invert(1);
          @media only screen and (min-width: 1200px){
            display: none;
          }
        }
      }
      .accordion-button:not(.collapsed){
        color: var(--color-primary);
        @media only screen and (max-width: 1199px){
          background-color: var(--clr-orange);
        }
        .numb{
          @media only screen and (max-width: 1199px){
            color: var(--clr-white);
            opacity: 1;
          }
        }
        .title-text{
          @media only screen and (max-width: 1199px){
            color: var(--clr-white);
          }
        }
        &:after{
          filter:none;
        }
      }
      .accordion-body{
        padding: 20px;
        @media only screen and (max-width: 575px){
          padding: 15px;
        }
        .img-wrap{
          img{
            border-radius: 20px 20px 0 0;
            @media only screen and (max-width: 1199px){
              background-color: transparent;
            }
            @media only screen and (max-width: 991px){
              border-radius: 15px 15px 0 0;
            }
            @media only screen and (max-width: 767px){
              border-radius: 10px 10px 0 0;
            }
          }
        }
        .ind-desc{
          padding: 25px 22px;
          margin-top: 5px;
          position: relative;
          background-color: var(--color-white);
          border-radius: 0 0 20px 20px;
          @media only screen and (max-width: 1199px){
            padding: 0;
            margin-top: 0;
            box-shadow: none;
            border-radius: 0;
          }
          &:before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            border-radius: 0 0 20px 20px;
            @media only screen and (max-width: 1199px){
              background-color: transparent;
            }
            @media only screen and (max-width: 991px){
              border-radius: 0 0 15px 15px;
            }
            @media only screen and (max-width: 767px){
              border-radius: 0 0 10px 10px;
            }
          }
          ul{
            position: relative;
            z-index: 2;
            li{
              position: relative;
              padding-left: 20px;
              margin-bottom: 15px;
              color: var(--color-black);
              @media only screen and (max-width: 1199px){
                margin-bottom: 10px;
              }
              @media only screen and (max-width: 991px){
                margin-bottom: 8px;
              }
              @media only screen and (max-width: 575px){
                margin-bottom: 5px;
              }
              &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 10px;
                width: 10px;
                height: 10px;
                border: 1px solid var(--color-black);
                background-color: var(--color-black);
                border-radius: 0;
              }
              &:last-child{
                margin-bottom: 0;
              }
            }
          }
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
      &:hover{
        .accordion-collapse{
          @media only screen and (min-width: 1200px){
            transform: translateY(-50%) scale(1);
          }
        }


        .accordion-button{
          background-color: var(--clr-orange);
          color: var(--clr-white);
          &:hover{
            color: var(--color-primary);
          }
          @media only screen and (min-width: 1200px){
            pointer-events: auto;
          }
          span{
            color: var(--color-white);
            opacity: 1;
          }
          .title-text{
            font-weight: 600;
          }
          &:after{
            filter:blur(0) invert(0);
          }
        }
      }
    }
  }
}



/*---  SECTION FOOTER CSS END ---*/
.section-footer {
  background-color: #0F0F0F;
  .copy-tight{
    margin-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    text-align: center;
    @media only screen and (max-width: 767px) {
      margin-top: 0px;
    }
  }
  .footer-main {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 50px;
    @media only screen and (max-width: 1499px) {

    }
    @media only screen and (max-width: 1199px) {
      margin-top: 20px;
    }
    @media only screen and (max-width: 767px) {
      margin-top: 15px;
      display: block;
    }
    @media only screen and (max-width: 767px) {

    }
    .footer-inner {
      flex: 1;
      text-align: left;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding: 25px 0;
      @media only screen and (max-width: 1499px) {

      }
      @media only screen and (max-width: 1199px) {

      }
      @media only screen and (max-width: 767px) {
        padding: 15px 0;
      }
      .footer-heading{
        color: var(--color-white);
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin-bottom: 15px;
        @media only screen and (max-width: 1499px) {

        }
        @media only screen and (max-width: 1199px) {

        }
        @media only screen and (max-width: 767px) {
          margin-bottom: 5px;
        }
      }
      p,
      a {
        text-decoration: none;
        font-size: 16px;
        line-height: 30px;
        color: var(--color-white);
        margin: 0;
        font-family: var(--inter-light);
        opacity: 0.8;

      }
      .footer-links, .follow-us {
        padding: 0;
        li {
          list-style: none;
          a {
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
/*---  SECTION FOOTER CSS END ---*/





/*------*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  width: calc(33.33% - 20px); /* Considering 30px gap, subtract 20px to account for the gap */
  margin-bottom: 30px;
  background-color: red;
}

.item.tall {
  height: 550px;
}
.item:not(.tall) {
  height: 400px;
}

/* Optional: Adjust for responsiveness */
@media (max-width: 768px) {
  .item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 480px) {
  .item {
    width: calc(100% - 20px);
  }
}
